.main {
    padding: 1rem;
    background-color: white;

    a {
      color: @primary;
    }

    p {
        line-height: 1.4rem;
        text-align: justify;
        text-indent: 1rem;

        code {
            padding: 0.2rem 0;
            margin: 0;
            font-size: 0.8rem;
            background-color: rgba(0,0,0,0.06);
            border-radius: 3px;
            color: @secondary;
            white-space: nowrap;
        }

        code:before,
        code:after {
            font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
            letter-spacing: -0.2em;
            content: "\00a0";
        }
    }

    h1, h2 {
        padding: 0 0 0 0.65rem;
        border-left-width: 0.35rem;
        border-left-style: solid;
    }

    h1 {
        margin: 0 0 1rem;
        font-size: 1.6rem;
        color: @secondary;
        border-left-color:  @secondary;
    }

    h2 {
        margin: 2rem 0 1rem;
        font-size: 1.25rem;
        color: @gray;
        border-left-color:  @gray;
    }

    pre {
        display: block;
        width: 100%;

        > code {
            display: block;
            padding: 0.5em;
            width: 100%;
            border: 1px solid @gray-lighter;
            border-left-width: 0.35rem;
            font-size: 0.9rem;
            padding-left: 0.65rem !important;
            background-color: #f8f8f8;
        }
    }
}
