main, article.main {
    background-color: white;

    a {
      color: @primary;
    }

    p {
        line-height: 1.5rem;
        text-align: justify;
        text-indent: 1rem;
    }

    p, ul {
        code {
            padding: 0.1rem 0;
            margin: 0;
            font-size: 0.8rem;
            background-color: rgba(0,0,0,0.06);
            border-radius: 3px;
            color: @gray-darker;
            // color: @secondary;
            white-space: nowrap;
        }

        code:before,
        code:after {
            // font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
            letter-spacing: -0.2rem;
            content: "\00a0";
        }
    }

    h1, h2 {
        padding: 0 0 0 0.75rem;
        border-left-width: 0.25rem;
        border-left-style: solid;
        font-weight: normal;
    }

    h1 {
        margin: 0 0 1rem;
        font-size: 1.6rem;
        color: @secondary;
        border-left-color:  @secondary;
        line-height: 2rem;
    }

    h2 {
        margin: 2rem 0 1rem;
        font-size: 1.25rem;
        color: @gray;
        border-left-color:  @gray;
    }

    blockquote {
        display: block;
        position: relative;
        margin: 1rem 0;
        background-color: @gray-lighter;
        padding: 1rem 1rem 1rem 3.25rem;

        > p {
            text-indent: 0;
            margin: 0;
        }

        &::before {
            content: "\f10d";
            font-size: 1.8rem;
            line-height: 1em;
            font-family: FontAwesome;
            position: absolute;
            top: 1.25rem;
            left: 1rem;
            color: @primary;
        }
    }

    pre {
        display: block;
        width: 100%;

        > code {
            display: block;
            padding: 0.5em;
            width: 100%;
            border: 1px solid @gray-lighter;
            border-left-width: 0.35rem;
            font-size: 0.9rem;
            padding-left: 0.65rem !important;
            background-color: #f8f8f8;
        }
    }
}
