{% extends "base/page.html" %}

{% block body %}
    {% include "base/header.html" %}

    <main>
        {% include "base/social.html" %}
        <h1>Recent posts</h1>

        {% for post in posts %}
            <article>
                {{ post.year }}-{{ post.month }}-{{ post.day }}
                <a href="/{{ post.path }}">{{ post.fullTitle }}</a>
                {% for tag in post.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
                <!-- <p>
                    {{ post.excerpt }}
                </p> -->
            </article>
        {% endfor %}
    </main>

    {% include "base/footer.html" %}
{% endblock %}
