<multi-step-container steps="steps" class="simple-prev-next" search-id="'step'">
    <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
        <span class="fa fa-chevron-left"></span>
        Previous
    </button>

    <strong ng-bind-template="{{$getActiveIndex()}} / {{$getSteps().length}}"></strong>

    <button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
        Next
        <span class="fa fa-chevron-right"></span>
    </button>
</multi-step-container>
