<p>
    <strong>multiStepForm</strong> is an angular module to create multi step forms and wizards. Create your steps like your would
    create your views with ngRoute or ui-router!
</p>

<p>It is lightweight (6kb minified) but extremely versatile and powerful. Discover what it is capable of with the following examples</p>

<br>
<h3>Examples</h3>

<ul>
    <li>
        <a href="#/getting-started"><strong>Getting started:</strong> how to install and use</a>
    </li>

    <li>
        <a href="#/using-forms"><strong>Using forms:</strong> how to use Angular powers to your advantage</a>
    </li>

    <li>
        <a href="#/using-forms"><strong>Saving data:</strong> how to save data entered at each step</a>
    </li>

    <li>
        More to come
    </li>
</ul>
