<h3>Welcome</h3>

<p>
    <strong>multiStepForm</strong> is an angular module to create multi step forms and wizards. Create your steps like your would
    create your views with ngRoute or ui-router!
</p>

<p>It is lightweight (6kb minified) but extremely versatile and powerful, and makes no assumption on how you want to design your multi-step
form or wizard. Discover what it is capable of with the following examples and documentation.</p>


<h3>Examples</h3>

<ul>
    <li>
        <a href="#/getting-started"><strong>Getting started:</strong> how to install and use</a>
    </li>

    <li>
        <a href="#/using-forms"><strong>Using forms:</strong> how to use Angular powers to your advantage</a>
    </li>

    <li>
        <a href="#/saving-data"><strong>Saving data:</strong> how to save data entered at each step</a>
    </li>

    <li>
        <a href="#/css-transitions"><strong>CSS transitions:</strong> how to animate step transitions</a>
    </li>

    <li>
        <a href="#/cancel-finish"><strong>Cancel and finish:</strong> how to define and use ending callbacks</a>
    </li>

    <li>
        <a href="#/browser-navigation"><strong>Browser navigation:</strong> how to enable URL navigation</a>
    </li>

    <li>
        <a href="#/with-modal"><strong>In a modal:</strong> a multi-step form inside an angular-ui bootstrap modal</a>
    </li>
</ul>

<h3>Docs (on GitHub)</h3>

<ul>
    <li>
        <a href="https://github.com/troch/angular-multi-step-form/blob/master/docs/configuring-steps.md"><strong>Configuring your steps</strong></a>
    </li>

    <li>
        <a href="https://github.com/troch/angular-multi-step-form/blob/master/docs/scopes.md"><strong>Steps and directive scopes</strong></a>
    </li>

    <li>
        <a href="https://github.com/troch/angular-multi-step-form/blob/master/docs/multi-step-instance.md"><strong>The multi-step form instance object</strong></a>
    </li>

    <li>
        <a href="https://github.com/troch/angular-multi-step-form/blob/master/docs/steps-lifecycle.md"><strong>Animations, navigation, callbacks</strong></a>
    </li>
</ul>
