<header>
    <h1>
        <a href="/">React and be thankful</a>
        <small>A blog about building (reactive) web applications</small>
    </h1>

    <section>
        <input type="text" id="searchInput">

        <button type="button" class="circled-icon hidden" id="searchButton">
            <span class="fa fa-search" title="Search" aria-label="Search" placeholder="Search"></span>
        </button><!--

     --><a class="circled-icon" href="/rss.xml">
            <span class="fa fa-rss" title="RSS Feed" aria-label="RSS Feed"></span>
        </a>
    </section>
</header>

<section id="searchResults"></section>

<script>
</script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var searchResultsElm = document.getElementById('searchResults');
        function renderSearchResults(results) {
            searchResultsElm.classList[results.length > 0 ? 'remove' : 'add']('hidden');
            searchResultsElm.innerHTML = "";
            results.forEach(function (res) {
                searchResultsElm.appendChild(renderSearchResult(res));
            })
        }

        function renderSearchResult(res) {
            var elm = document.createElement('div')
            elm.innerHTML = res.ref;
            return elm;
        }

        var searchInput = document.getElementById('searchInput');
        var lunrIndex;

        function getLunrIndex() {
            superagent
                .get('/searchIndex.json')
                .end(function (err, res) {
                    if (!err) {
                        lunrIndex = lunr.Index.load(res.body);
                    }
                });
        }

        document.getElementById('searchButton').addEventListener('click', function (evt) {
            if (searchInput.classList.contains('revealed')) {
                searchInput.classList.remove('revealed');
            } else {
                searchInput.classList.add('revealed');
                if (!lunrIndex) getLunrIndex();
                searchInput.focus();
            }
        }, false);

        var headerPadding = parseInt(window.getComputedStyle(document.querySelector('body > header')).paddingTop, 10);

        window.addEventListener('scroll', function (evt) {
            if (window.scrollY > headerPadding / 2) {
                document.body.classList.add('scrolled');
            } else {
                document.body.classList.remove('scrolled');
            }
        }, false);

        searchInput.addEventListener('input', function (evt) {
            if (lunrIndex) {
                renderSearchResults(lunrIndex.search(evt.target.value));
            }
        }, false);
    });
</script>
