<header>
    <h1>
        <a href="/">React and be thankful</a>
        <small>A blog about building (reactive) web applications</small>
    </h1>

    <section>
        <input type="text" id="searchInput">

        <div id="searchResults"></div>

        <button type="button" class="circled-icon" id="searchButton">
            <span class="fa fa-search" title="Search" aria-label="Search" placeholder="Search"></span>
        </button><!--

     --><a class="circled-icon" href="/rss.xml">
            <span class="fa fa-rss" title="RSS Feed" aria-label="RSS Feed"></span>
        </a>
    </section>
</header>

<script>
</script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        function renderSearchResults(results) {
            searchResults.classList[results.length > 0 ? 'remove' : 'add']('hidden');
            searchResults.innerHTML = "";
            results = results
                .map(function (res) {
                    return articles[res.ref];
                }).filter(function (article) {
                    return article !== undefined && location.pathname.indexOf(article.path) === -1;
                });

            if (results.length) {
                results.forEach(function (article) {
                    searchResults.appendChild(renderSearchResult(article));
                });
                searchResults.classList.remove('hidden');
            } else {
                searchResults.innerHTML = "";
                searchResults.classList.add('hidden');
            }
        }

        function renderSearchResult(article) {
            var link = document.createElement('a');
            link.href = article.path;
            link.appendChild(document.createTextNode(article.title));
            return link;
        }

        var searchResults = document.getElementById('searchResults');
        var searchInput   = document.getElementById('searchInput');
        var lunrIndex;
        var articles;

        function getLunrIndex() {
            superagent
                .get('/searchIndex.json')
                .end(function (err, res) {
                    if (!err) {
                        lunrIndex = lunr.Index.load(res.body);
                    }
                });
        }

        function getArticles() {
            superagent
                .get('/articles.json')
                .end(function (err, res) {
                    if (!err) {
                        articles = res.body;
                    }
                });
        }

        function hideSearchInput(evt) {
            if (evt && evt.keyCode && evt.keyCode !== 27) return;
            if (evt && (evt.target === searchButton || searchButton.contains(evt.target) || (evt.target === searchInput && evt.keyCode !== 27))) return;
            searchInput.classList.remove('revealed');
            searchResults.classList.add('hidden');
            searchResults.innerHTML = "";
            searchInput.removeEventListener('input', onSearchInput);
            window.removeEventListener('click', hideSearchInput);
            window.removeEventListener('scroll', hideSearchInput);
            window.removeEventListener('keydown', hideSearchInput);
            searchInput.removeEventListener('keydown', hideSearchInput);
            searchInput.value = '';
        }

        function showSearchInput() {
            searchInput.classList.add('revealed');
            if (!lunrIndex) getLunrIndex();
            if (!articles) getArticles();
            searchInput.addEventListener('input', onSearchInput, false);
            window.addEventListener('click', hideSearchInput, false);
            window.addEventListener('scroll', hideSearchInput, false);
            window.addEventListener('keydown', hideSearchInput, false);
            searchInput.addEventListener('keydown', hideSearchInput, false);
            searchInput.focus();
        }

        function onSearchInput(evt) {
            if (evt.target.value.length < 2) {
                searchResults.innerHTML = "";
                searchResults.classList.add('hidden');
            } else if (lunrIndex && articles) {
                renderSearchResults(lunrIndex.search(evt.target.value));
            }
        }

        document.getElementById('searchButton').addEventListener('click', function (evt) {
            if (!searchInput.classList.contains('revealed')) showSearchInput();
            else hideSearchInput();
        }, false);

        var headerPadding = parseInt(window.getComputedStyle(document.querySelector('body > header')).paddingTop, 10);

        window.addEventListener('scroll', function (evt) {
            if (window.scrollY > headerPadding / 2) document.body.classList.add('scrolled');
            else document.body.classList.remove('scrolled');
        }, false);
    });
</script>
