<!DOCTYPE html>

<html>
<head>
    <base href="/">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description | maxLength(155)}}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description | maxLength(200) }}">
    <meta name="twitter:creator" content="@tcroch">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:description" content="{{ description }}">

    {% if isArticle %}
        <meta property="article:published_time" content="{{ publishedTime }}">
        <meta property="article:modified_time" content="{{ modifiedTime }}">
        {% for section in sections %}
            <meta property="article:section" content="{{ section }}">
        {% endfor %}

        {% for tag in tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="React and be thankful" href="http://blog.reactandbethankful.com/rss.xml" />
    {% for styleSheet in styleSheets %}
            <link rel="stylesheet" href="{{ styleSheet }}">
    {% endfor %}
</head>

<body>
    {% block body %}{% endblock %}

    {% for script in scriptsSrc %}
        <script src="{{ script }}"></script>
    {% endfor %}

    {% for script in scripts %}
        <script>{{ script }}</script>
    {% endfor %}

    {% include "base/analytics.html" %}
</body>

</html>
